<launch>

  <param name="cluster_tolerance" type="double" value="1.0" />
  <param name="min_cluster_size" type="int" value="2" />
  <param name="max_cluster_size" type="int" value="5" />
  <node pkg="toposens_task" type="toposens_task_node" name="toposens_task_node" output="screen" />

  <param name="data_file" type="str" value="$(find toposens_task)/data/data.txt"/>
  <node pkg="toposens_task" type="toposens_task_cluster_node" name="toposens_task_cluster_node" output="screen">
  </node>

</launch>